<% layout('layouts/boilerplate') -%>


    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="text-center">New Campground</h1>
            <form action="/campgrounds" method="post" novalidate class="needs-validation" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Campground Name:</label>
                    <input type="text" class="form-control" id="title" aria-describedby="title" name="campground[title]"
                        required>


                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Campground Location:</label>
                    <input type="text" class="form-control" id="location" name="campground[location]" required>


                </div>



                <!-- <input type="file" name="image" id="image" multiple> -->

                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image Url</label>
                    <input type="text" class="form-control" id="image" name="campground[image]" required>

                </div> -->


                <div class="input-group mb-3">
                    <label for="price" class="form-label">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" name="campground[price]"
                            required>
                    </div>


                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" rows="3" name="campground[description]"
                        required></textarea>
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label">Upload Images...</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>

                <button type="submit" class="btn btn-primary">Add Campground</button>

                <footer class="my-5">
                    <a class="btn btn-outline-primary" href="/campgrounds" role="button">
                        Back To All Campgrounds
                    </a>
                </footer>
            </form>
        </div>
    </div>

    <!-- <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script> -->